package components

import "net/http"

templ NotFound(r *http.Request, message string) {
	@Layout(r, LayoutProps{}) {
		<div class={ "cs-panel", panel() }>
			<h1>404 Not Found</h1>
			if message != "" {
				<h2>{ message }</h2>
			}
			<p>soz</p>
		</div>
	}
}
